.column {
    display: flex;
    flex-direction: column;
}

.row {
    display: flex;
    flex-direction: row;
}

.card-body {
    display: flex;
    flex-direction: row;
}

.container-buttons {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.btn-img {
    width: 70px;
    height: 70px;
}

.btn-class {
    border: none;
    cursor: pointer;
    margin: 0 10px;
    background: white;
    border-radius: 10px;
    border-color: lightgrey;
}

.add-img {
    width: 40px;
    height: 40px;
}

.container-buttons {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.btn-img {
    width: 70px;
    height: 70px;
}

.btn-class {
    border: none;
    cursor: pointer;
    margin: 0 10px;
    background: white;
    border-radius: 10px;
    border-color: lightgrey;
}


.container-orders {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
}

.container-orders-title {
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 11pt;
    margin: 10px 0;
}

.container-orders-title p {
    margin: 0px;
}

.order {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
    margin: 10px;
    padding: 5px;
}

.order-info {
    display: flex;
    flex-direction: column;
    font-size: 10pt;
}

.order-product {
    flex: none;
    font-size: 8pt;
}

.order-product img {
    margin: 10px;
}

.order-product-info {
    width: 200px;
}

.card-button {
    display: flex;
    justify-content: end;
}

.card-button a {
    margin: 10px;
}

.container-buttons a {
    margin: 0 10px;
}

.product-name {
    display: flex;
    justify-content: center;
}

.container-searchresult {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.searchitems {
    width: 500px;
    margin: 10px;
}

.search-bar {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: 30px 0;
}

.search-bar input {
    margin: 0 10px;
    width: 70%;
}

.search-bar button {
    background-color: #fff;
    border: none;
}

.pricerange {
    display: flex;
    flex-direction: row;
    width: 40%;
    margin: 0 10px;
}

.pricerange input {
    flex-direction: row;
    margin: 5px;
}

.select-category {
    border: 1px solid #ced4da;
    padding: 0.375rem 0.75rem;
    height: calc(1.5em + 0.75rem + 2px);
    border-radius: 0.25rem;
    box-sizing: border-box;
    margin: 5px;
}