.center {
    display: flex;
    justify-content: center;
}

.row {
    display: flex;
    flex-direction: column;
}

.card-body {
    display: flex;
    flex-direction: row;
}

.card-img {
    width: 200px;
    height: auto;
}

.container-buttons {
    display: flex;
    flex-direction: row;
    justify-content: end;
}

.btn-img {
    width: 70px;
    height: 70px;
}

.btn-class {
    border: none;
    cursor: pointer;
    margin: 0 10px;
    background: white;
    border-radius: 10px;
    border-color: lightgrey;
}

.add-img {
    width: 40px;
    height: 40px;
}

li {
    font-size: 11pt;
}

.total-sum b {
    border: 1px solid rgba(0, 0, 0, .125);
    border-radius: 0.25rem;
    padding: 0 5px;
}

.card {
    margin: 15px 0;
}